/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Font-Face */

/* #Site Styles
================================================== */

/* set relative position */
section {
	position: relative;
	float: left;
	width: 100%;
	 -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

section .header h2{
	text-transform: uppercase;
	text-align: center;
}

section .header p{
	text-align: center;
	margin: 0 0 60px;
}


/* #Page Styles
================================================== */

	/* #Nav styles
	================================================== */

	#nav-bar {
		display: none;
		position: relative;
		z-index: 9999;
		top: 0;
		left: 0;
		width: 100%;
		padding: 0;
		margin: 0;
		-webkit-transition: all 0.5s ease-in-out;
		-moz-transition: all 0.5s ease-in-out;
		-ms-transition: all 0.5s ease-in-out;
		-o-transition: all 0.5s ease-in-out;
		transition: all 0.5s ease-in-out;

	}
	#nav-bar.stuck, .subpage #nav-bar {
		display: block;
		position: fixed;
		bottom: auto;
		top: 0;
	}

	#main-nav {
		margin: 0;
		text-align: center;
		overflow: visible;
	}
	#main-nav li {
		position: relative;
		top: -20px;
		float: none;
		width: auto;
		margin: 0;
		padding: 0;
		list-style: none;
		display: inline-block;
		zoom:1;
		*display:inline;
		position: relative;
	}

	nav {
	    position: fixed;
	    top: 0;
	    right: -350px;
	    z-index: 999;
	    overflow: scroll;
	    padding: 0;
	    width: 350px;
	    height: 100%;
	    background-color: #dedcd5;
	    color: #FFF;
	    overflow: hidden;
	}

	nav ul li{
		float: left;
		width: 100%;
		text-align: left;
		padding: 0;
		margin: 0;
		margin-bottom: 0;
	}

	nav ul li a{
		font-size: 13px;
		font-family: 'Gotham-Medium', Arial, Helvetica, sans-serif;
		font-style: normal;
		font-weight: 400;
		text-transform: uppercase;
		letter-spacing: 1px;
		color: #fff;
		float: left;
		width: 100%;
		padding: 30px 30px 25px 30px;
	}

	nav ul li a:hover{
		padding: 30px 30px 25px 50px;
	}

	nav ul li a[href*="#home"]{
		background: #4c4c4d;
	}

	nav ul li a[href*="#home"]:before{
		content: '';
		float: left;
		width: 100%;
		height: 20px;
	}

	nav ul li a[href*="#home"]{
		background: #4c4c4d;
	}

	nav ul li a[href*="#about-us"]{
		background: #eb5043;
	}

	nav ul li a[href*="#our-work"]{
		background: #97c5ac;
	}

	nav ul li a[href*="#contact-us"]{
		background: #b8b3a4;
	}

	nav .socialIcons {
	  float: left;
	  width: 100%;
	}
	nav .socialIcons ul.icons {
		position: relative;
		top: 0;
		left: 50%;
		float: left;
		margin: 20px 0 30px -149px;
		width: 298px;
		list-style: none;
	}
	nav .socialIcons ul.icons li {
		float: left;
		margin: 0;
	  	padding: 0;
	  	width: auto;
    }
	nav .socialIcons ul.icons li a {
		float: left;
		padding: 10px;
		font-size: 16px !important;
		-webkit-transition: 0.5s ease-in-out;
		-moz-transition: 0.5s ease-in-out;
		-o-transition: 0.5s ease-in-out;
		transition: 0.5s ease-in-out;
		text-decoration: none;
		color: #b8b3a4;
	}
	nav .socialIcons ul.icons li a:hover{
		color: #fff;
	}
	nav .socialIcons ul.icons li a.facebook-icon:hover {
		background-color: #395aa2;
	}

	.socialIcons ul.icons li a.github-icon:hover {
		background-color: #6CC644;
	}

	nav .socialIcons ul.icons li a.twitter-icon:hover {
		background-color: #38a6de;
	}

	nav .socialIcons ul.icons li a.linkedIn-icon:hover {
		background-color: #069;
	}

	nav .socialIcons ul.icons li a.pinterest-icon:hover {
		background-color: #c42126;
	}

	nav .socialIcons ul.icons li a.instagram-icon:hover {
		background-color: #603813;
	}

	nav .socialIcons ul.icons li a.youtube-icon:hover {
		background-color: #c42126;
	}

	nav .socialIcons ul.icons li a.google-icon:hover {
		background-color: #333;
	}

	nav .socialIcons ul.icons li a.icon-rss-alt:hover {
		background-color: #f1620c;
	}

	nav .socialIcons ul.icons li a.yelp-icon:hover {
		background-color: #b90c02;
	}

	nav .socialIcons ul.icons li a.icon-rss-alt:hover {
		background-color: #f2a019;
	}

	/* nav button
	===================================================== */

	#nav-bar #logo-mark{
		position: absolute;
		top: 20px;
		left: 20px;
		float: left;
	}

	#nav-bar #logo-mark img{
		float: left;
		width: 75px;
		height: auto;
	}

	#nav-bar .lines-button.x {
		position: absolute;
		top: 20px;
		right: 20px;
		display: inline-block;
		margin: 0;
		border: none;
		z-index: 9999;
		-webkit-transition: all 0.5s ease-in-out;
		-moz-transition: all 0.5s ease-in-out;
		-ms-transition: all 0.5s ease-in-out;
		-o-transition: all 0.5s ease-in-out;
		transition: all 0.5s ease-in-out;
	}

	#nav-bar .lines-button.x.close {
		top: 0px;
		right: 0px;
		height: 44px;
		-moz-transform: scale3d(0.8, 0.8, 0.8);
		-webkit-transform: scale3d(0.8, 0.8, 0.8);
		transform: scale3d(0.8, 0.8, 0.8);
	}

	#click-me{
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		float: left;
		width: 100%;
		height: 100%;
	}

	.lines-button.close #click-me{
		top: 0;
	}

	.lines-button.x:hover{
		-moz-box-shadow: 0px 0px 0 0px #9a885a;
		-webkit-box-shadow:  0px 0px 0 0px #9a885a;
		box-shadow:  0px 0px 0 0px #9a885a;
	}
	.lines-button.x span {
		display: block;
	}
	.lines-button {
		padding: 0;
		height: 35px;
		transition: .3s;
		cursor: pointer;
		user-select: none;
	}
	.lines-button:hover {
		opacity: 1;
	}
	.lines-button:active {
		transition: 0;
	}

	.lines {
		display: inline-block;
		width: 44px;
		height: 5px;
		transition: 0.3s;
		position: relative;
		top: 10px;
	}
	.lines-button.x.open .lines,
	.lines-button.x.open .lines:before,
	.lines-button.x.open .lines:after {
		background: #343434;
	}
	.lines-button.x.close .lines {
		background: transparent;
	}
	.lines:before,
	.lines:after {
		display: inline-block;
		width: 44px;
		height: 5px;
		transition: 0.3s;
		position: absolute;
		left: 0;
		content: '';
		-webkit-transform-origin: 0.28571rem center;
		transform-origin: 0.28571rem center;
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
	}

	.lines-button.x.open .lines:before,
	.lines-button.x.close .lines:before{
		top: -10px;
	}

	.lines-button.x.open .lines:after,
	.lines-button.x.close .lines:after{
		top: 10px;
	}

	.lines-button.x.close .lines:before,
	.lines-button.x.close .lines:after {
		-moz-transform-origin: 50% 50%;
		-webkit-transform-origin: 50% 50%;
		transform-origin: 50% 50%;
		top: 10px;
		width: 44px;
	}
	.lines-button.x.close .lines:before {
		-moz-transform: rotate3d(0, 0, 1, 45deg);
		-webkit-transform: rotate3d(0, 0, 1, 45deg);
		transform: rotate3d(0, 0, 1, 45deg);
		background: #FF5252;
	}
	.lines-button.x.close .lines:after {
		-moz-transform: rotate3d(0, 0, 1, -45deg);
		-webkit-transform: rotate3d(0, 0, 1, -45deg);
		transform: rotate3d(0, 0, 1, -45deg);
		background: #FF5252;
	}

	/* #Sections
	================================================== */

	section > .container{
		padding: 60px 0 30px;
	}

	#home, #contact-us {
		height: 100%;
	}

		/* #home
		------------------------------------------------------*/

		#home {
			background-image: url('../images/homepage-bg.jpg');
			background-color: #fff;
			background-position: 50% -50px;
			background-repeat: no-repeat;
			background-attachment: fixed;
		}

		#home #logo{
			position: absolute;
			top: 20%;
			left: 50%;
			display: block;
			margin: 0 0 0 -230px;
			width: 460px;
		}

		#scroll{
			position: absolute;
			bottom: 30px;
			left: 50%;
			display: block;
			margin: 0 0 0 -9px;
			width: 18px;
		}


		/* #about
		==================================================================== */

		#about-us .four.columns > span{
			color: #eb5043;
			font-size: 50px;
			display: block;
			margin: 0 auto 20px auto;
			width: 50px;
		}

		#about-us .four.columns > h4{
			color: #606161;
			text-align: center;
			text-transform: uppercase;
			letter-spacing: 1px;
		}

		#about-us .four.columns > p{
			text-align: center;
			color: #606161;
		}




		/* #work
		==================================================================== */

		#work-hero{
			float: none;
			display: block;
			margin: 0 auto;
		}

		.col{
			position: relative;
			float: left;
			margin: 0;
			padding: 0;
			width: 25%;
			height: auto;
			overflow: hidden;
		}

		.col a{
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			width: 100%;
			height: 100%;
			background: rgba(0,0,0,0.0);
			-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
			filter: alpha(opacity=0);
			opacity: .0;
		}

		.col a:hover{
			background: rgba(255,255,255,0.9);
			-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
			filter: alpha(opacity=100);
			opacity: 1.0;
		}

		.description{
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			margin: auto;
			width: 100%;
			height: 50px;
		}

		.col a h4, .col a p{
			font-family: 'Gotham-Medium', Arial, Helvetica, sans-serif;
			font-weight: 400;
			text-align: center;
		}

		.col a h4{
			margin: 0;
			color: #eb5043;
			text-transform: uppercase;
			letter-spacing: 1px;
			font
		}

		.col a p{
			margin: 0;
			color: #97c5ac;
		}

		.col a span{
			position: absolute;
			top: -150%;
			right: 0;
			bottom: 0;
			left: 0;
			width: 20px;
			height: 20px;
			display: block;
			margin: auto;
			font-size: 20px;
			line-height: 20px;
			color: #777;
			-webkit-transition: all 0.2s ease-in-out;
			-moz-transition: all 0.2s ease-in-out;
			-ms-transition: all 0.2s ease-in-out;
			-o-transition: all 0.2s ease-in-out;
			transition: all 0.2s ease-in-out;
		}

		.col a:hover span{
			top: 100px;
		}

		.col img{
			float: left;
		}

		/* #subpage
		===================================================================== */





		/* #contact
		==================================================================== */

		#contact-wrapper{
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 20%;
			z-index: 2;
			margin: auto;
			padding: 30px;
			float: left;
			width: 460px;
			height: 474px;
			background: rgba(255,255,255,1.0);
			-webkit-box-shadow: 0 0 5px 5px rgba(0,0,0,0.1);
		    -moz-box-shadow: 0 0 5px 5px rgba(0,0,0,0.1);
		    box-shadow: 0 0 5px 5px rgba(0,0,0,0.1);
		}

		#contact-wrapper img{
			float: left;
			margin: 0 0 30px;
		}

		#contact-wrapper p{
			margin: 0 0 5px;
			text-align: center;
			font-size: 12px;
			letter-spacing: 1px;
			color: #242424;
		}

		#contact-wrapper p a[aria-hidden="true"]{
			font-size: 20px;
		}

		#map_canvas{
			position: absolute;
			top: 0;
			left: 0;
			z-index: 0;
			width: 100%;
			height: 100%;
		}

		#contact-us .socialIcons {
		  float: left;
		  width: 100%;
		}
		#contact-us .socialIcons ul.icons {
			position: relative;
			top: 0;
			left: 50%;
			float: left;
			margin: 0 0 30px -72px;
			width: 298px;
			list-style: none;
		}
		#contact-us .socialIcons ul.icons li {
			float: left;
			margin: 0;
		  	padding: 0;
		  	width: auto;
	    }
		#contact-us .socialIcons ul.icons li a {
			float: left;
			padding: 10px;
			font-size: 16px !important;
			-webkit-transition: 0.5s ease-in-out;
			-moz-transition: 0.5s ease-in-out;
			-o-transition: 0.5s ease-in-out;
			transition: 0.5s ease-in-out;
			text-decoration: none;
			color: #999;
		}
		#contact-us .socialIcons ul.icons li a:hover{
			color: #fff;
		}
		#contact-us .socialIcons ul.icons li a.facebook-icon:hover {
			background-color: #395aa2;
		}

		#contact-us .socialIcons ul.icons li a.twitter-icon:hover {
			background-color: #38a6de;
		}

		#contact-us .socialIcons ul.icons li a.linkedIn-icon:hover {
			background-color: #069;
		}

		#contact-us .socialIcons ul.icons li a.pinterest-icon:hover {
			background-color: #c42126;
		}

		#contact-us .socialIcons ul.icons li a.instagram-icon:hover {
			background-color: #603813;
		}

		#contact-us .socialIcons ul.icons li a.youtube-icon:hover {
			background-color: #c42126;
		}

		#contact-us .socialIcons ul.icons li a.google-icon:hover {
			background-color: #333;
		}

		#contact-us .socialIcons ul.icons li a.icon-rss-alt:hover {
			background-color: #f1620c;
		}

		#contact-us .socialIcons ul.icons li a.yelp-icon:hover {
			background-color: #b90c02;
		}

		#contact-us .socialIcons ul.icons li a.icon-rss-alt:hover {
			background-color: #f2a019;
		}



	/* #Footer
	================================================== */



/* #Icons
================================================== */

[class*="rokkin-"] {
	font-family: 'rokkin';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.rokkin-launch:before {
	content: "\e600";
}
.rokkin-test:before {
	content: "\e601";
}
.rokkin-develop:before {
	content: "\e602";
}
.rokkin-plan:before {
	content: "\e603";
}


[class*="-icon"] {
	font-family: 'social';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.facebook-icon:before {
	content: "\e600";
}
.twitter-icon:before {
	content: "\e601";
}
.github-icon:before {
	content: "\e602";
}
.pinterest-icon:before {
	content: "\e602";
}
.instagram-icon:before {
	content: "\e603";
}
.youtube-icon:before {
	content: "\e604";
}
.google-icon:before {
	content: "\e605";
}
.linkedIn-icon:before {
	content: "\e603";
}
.yelp-icon:before {
	content: "\e607";
}
.list-icon:before {
	content: "\e608";
}


.icon-chat, .icon-checkmark, .icon-check-alt, .icon-x, .icon-x-altx-alt, .icon-denied, .icon-rss-alt, .icon-wrench, .icon-dial, .icon-cog, .icon-bolt, .icon-link, .icon-minus-alt, .icon-plus-alt, .icon-document-alt-stroke, .icon-document-alt-fill, .icon-heart-fill, .icon-heart-stroke, .icon-mail, .icon-magnifying-glass, .icon-key-stroke, .icon-key-fill, .icon-lightbulb, .icon-curved-arrow, .icon-spin, .icon-spin-alt, .icon-reload, .icon-reload-alt, .icon-loop, .icon-loop-alt1, .icon-loop-alt2, .icon-loop-alt3, .icon-loop-alt4, .icon-transfer, .icon-arrow-down-alt1, .icon-arrow-up-alt1, .icon-arrow-right-alt1, .icon-arrow-left-alt1, .icon-arrow-left-alt2, .icon-move-horizontal-alt2, .icon-play, .icon-pen-alt-stroke, .icon-book-alt2, .icon-list, .icon-question-mark, .icon-info, .icon-bars, .icon-eye, .icon-user, .icon-clock, .icon-home, .icon-lock-stroke, .icon-lock-fill, .icon-unlock-stroke, .icon-unlock-fill, .icon-paperclip, .icon-map-pin-alt, .icon-map-pin-fill, .icon-map-pin-stroke, .icon-star, .icon-chat-alt-fill {
	font-family: 'iconic';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-chat:before {
	content: "\e000";
}
.icon-checkmark:before {
	content: "\e001";
}
.icon-check-alt:before {
	content: "\e002";
}
.icon-x:before {
	content: "\e003";
}
.icon-x-altx-alt:before {
	content: "\e004";
}
.icon-denied:before {
	content: "\e005";
}
.icon-rss-alt:before {
	content: "\e006";
}
.icon-wrench:before {
	content: "\e007";
}
.icon-dial:before {
	content: "\e008";
}
.icon-cog:before {
	content: "\e009";
}
.icon-bolt:before {
	content: "\e00a";
}
.icon-link:before {
	content: "\e00b";
}
.icon-minus-alt:before {
	content: "\e00c";
}
.icon-plus-alt:before {
	content: "\e00d";
}
.icon-document-alt-stroke:before {
	content: "\e00e";
}
.icon-document-alt-fill:before {
	content: "\e00f";
}
.icon-heart-fill:before {
	content: "\e010";
}
.icon-heart-stroke:before {
	content: "\e011";
}
.icon-mail:before {
	content: "\e012";
}
.icon-magnifying-glass:before {
	content: "\e013";
}
.icon-key-stroke:before {
	content: "\e014";
}
.icon-key-fill:before {
	content: "\e015";
}
.icon-lightbulb:before {
	content: "\e016";
}
.icon-curved-arrow:before {
	content: "\e017";
}
.icon-spin:before {
	content: "\e018";
}
.icon-spin-alt:before {
	content: "\e019";
}
.icon-reload:before {
	content: "\e01a";
}
.icon-reload-alt:before {
	content: "\e01b";
}
.icon-loop:before {
	content: "\e01c";
}
.icon-loop-alt1:before {
	content: "\e01d";
}
.icon-loop-alt2:before {
	content: "\e01e";
}
.icon-loop-alt3:before {
	content: "\e01f";
}
.icon-loop-alt4:before {
	content: "\e020";
}
.icon-transfer:before {
	content: "\e021";
}
.icon-arrow-down-alt1:before {
	content: "\e022";
}
.icon-arrow-up-alt1:before {
	content: "\e023";
}
.icon-arrow-right-alt1:before {
	content: "\e024";
}
.icon-arrow-left-alt1:before {
	content: "\e025";
}
.icon-arrow-left-alt2:before {
	content: "\e026";
}
.icon-move-horizontal-alt2:before {
	content: "\e027";
}
.icon-play:before {
	content: "\e028";
}
.icon-pen-alt-stroke:before {
	content: "\e029";
}
.icon-book-alt2:before {
	content: "\e02a";
}
.icon-list:before {
	content: "\e02b";
}
.icon-question-mark:before {
	content: "\e02c";
}
.icon-info:before {
	content: "\e02d";
}
.icon-bars:before {
	content: "\e02e";
}
.icon-eye:before {
	content: "\e02f";
}
.icon-user:before {
	content: "\e030";
}
.icon-clock:before {
	content: "\e031";
}
.icon-home:before {
	content: "\e032";
}
.icon-lock-stroke:before {
	content: "\e033";
}
.icon-lock-fill:before {
	content: "\e034";
}
.icon-unlock-stroke:before {
	content: "\e035";
}
.icon-unlock-fill:before {
	content: "\e036";
}
.icon-paperclip:before {
	content: "\e037";
}
.icon-map-pin-alt:before {
	content: "\e038";
}
.icon-map-pin-fill:before {
	content: "\e039";
}
.icon-map-pin-stroke:before {
	content: "\e03a";
}
.icon-star:before {
	content: "\e03b";
}
.icon-chat-alt-fill:before {
	content: "\e03c";
}





/* #Font-Face
================================================== */
@font-face {
    font-family: 'Gotham-Bold';
    src: url('webfonts/Gotham-Bold.eot');
}

@font-face {
	font-family: 'Gotham-Bold';
	src: url('webfonts/Gotham-Bold.eot');
	src: local('☺'), url('webfonts/Gotham-Bold.woff') format('woff'), url('webfonts/Gotham-Bold.ttf') format('truetype'), url('webfonts/Gotham-Bold.svg') format('svg');
	font-style: bold;
  font-weight: 700;
}

@font-face {
    font-family: 'Gotham-Medium';
    src: url('webfonts/Gotham-Medium.eot');
}

@font-face {
	font-family: 'Gotham-Medium';
	src: url('webfonts/Gotham-Medium.eot');
	src: local('☺'), url('webfonts/Gotham-Medium.woff') format('woff'), url('webfonts/Gotham-Medium.ttf') format('truetype'), url('webfonts/Gotham-Medium.svg') format('svg');
	font-style: normal;
  font-weight: 400;
}

@font-face {
    font-family: 'Gotham-Book';
    src: url('webfonts/Gotham-Book.eot');
}

@font-face {
	font-family: 'Gotham-Book';
	src: url('webfonts/Gotham-Book.eot');
	src: local('☺'), url('webfonts/Gotham-Book.woff') format('woff'), url('webfonts/Gotham-Book.ttf') format('truetype'), url('webfonts/Gotham-Book.svg') format('svg');
	font-style: light;
  font-weight: 300;
}

@font-face {
	font-family: 'social';
	src:url('webfonts/social.eot');
}

@font-face {
	font-family: 'social';
	src:url('webfonts/social.eot');
	src:url('webfonts/social.eot?#iefix') format('embedded-opentype'),
		url('webfonts/social.woff') format('woff'),
		url('webfonts/social.ttf') format('truetype'),
		url('webfonts/social.svg#social') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'iconic';
	src:url('webfonts/iconic.eot');
}

@font-face {
    font-family: 'iconic';
    src:url('webfonts/iconic.eot');
    src:url('webfonts/iconic.eot?#iefix') format('embedded-opentype'),
        url('webfonts/iconic.woff') format('woff'),
        url('webfonts/iconic.ttf') format('truetype'),
        url('webfonts/iconic.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'rokkin';
	src:url('webfonts/rokkin.eot');
}

@font-face {
    font-family: 'rokkin';
    src:url('webfonts/rokkin.eot');
    src:url('webfonts/rokkin.eot?#iefix') format('embedded-opentype'),
        url('webfonts/rokkin.woff') format('woff'),
        url('webfonts/rokkin.ttf') format('truetype'),
        url('webfonts/rokkin.svg#rokkin') format('svg');
    font-weight: normal;
    font-style: normal;
}
