@media only screen and (max-width: 959px) {
	/*body:after {
		z-index: 99999999;
		content: "Smaller than standard 960 (max-width: 959px)";
		position: absolute;
		bottom: 0;
		right: 0;
		background: #333;
		color: #fff;
		padding: 10px;
	}*/
	

}