@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape){
	/*body:after {
		z-index: 99999999;
		content: "Tablet landscape (min-width: 768px) and (max-width: 959px)";
		position: absolute;
		bottom: 0;
		right: 0;
		background: #333;
		color: #fff;
		padding: 10px;
	}*/



}
